    @import '../edit/dita.css';
/*    cannot import straight from C:Program Files, why not?*/
/*
 * Plain content and topcirefs in the map.
 */
:root {
   font-family: "Calibri", "Helvetica", sans-serif;
 }

concept > [class ~= "topic/title"] {
/*    background-image:url('parson_logo_web.png');*/
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 5.4cm;
            }

*[class ~= "topic/title"] {
    font-family: Galette, "Calibri", sans-serif;
        }


/*
 * Topic and Map Titles.
 */
*[class ~= "map/map"][title]:before,
*[class ~= "map/map"] > *[class ~= "topic/title"],
*[class ~= "topic/topic"] > *[class ~= "topic/title"]{
   font-weight:normal;
   color: #AA0000;
}


*[class ~= "thankyou-d/thankyou"]{
 display:block;
 font-weight: 400;
 padding: 6px 0;
 background-color: #FF99FF;
 }

*[class ~= "thankyou-d/thankyou"]:before{
Content: url('parson_FB-O.png') " ";
width: 20px;
padding: 0 5px 0 0;
border-top: 1pt black solid;
}

*[class~="topic/note"][type="attention"]:before {
  content: "Attention: ";
}
*[class~="topic/note"][type="caution"]:before {
  content: "Caution: ";
}
*[class~="topic/note"][type="danger"]:before {
  content: "Danger: ";
}
*[class~="topic/note"][type="fastpath"]:before {
  content: "Fastpath: ";
}
*[class~="topic/note"][type="important"]:before {
  content: "Important: ";
}
*[class~="topic/note"][type="other"]:before {
  content: "Other: ";
}
*[class~="topic/note"][type="remember"]:before {
  content: "Remember: ";
}
*[class~="topic/note"][type="restriction"]:before {
  content: "Restriction: ";
}
*[class~="topic/note"][type="tip"]:before {
  content: "Tip: ";
  background-color: #00CCFF;
}
*[class~="topic/note"][type="notice"]:before {
  content: "Notice: ";
}
*[class~="topic/note"][type="warning"]:before {
  content: "Warning: ";
}
*[class~="topic/note"][type="other"][othertype]:before {
  content: attr(othertype) ": ";
}
*[class~="topic/note"][type="trouble"]:before {
  content: "Troubleshooting: ";  
}